.profile {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-8);
    padding: var(--space-8);
}

.profile__left {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.profile__right {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.profile__main-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    border-radius: var(--radius-lg);
    background-color: var(--color-bg-card);
    box-shadow: var(--shadow-md);
    padding-bottom: var(--space-8);
}

.profile__main-info__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile__main-info__background {
    width: 100%;
    height: 100%;
}

.profile__main-info__background-image {
    width: 100%;
    height: 100%;
    max-height: 200px;
    border-radius: var(--radius-lg) var(--radius-lg) var(--space-0) var(--space-0);
    object-fit: cover;
}

.profile__main-info__picture {
    position: absolute;
    bottom: -30px;
    left: var(--space-6);
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100px;
    object-fit: cover;
}

.profile__main-info__picture-image {
    width: auto;
    height: 100%;
    max-height: 100px;
    object-fit: contain;
    border-radius: var(--radius-full);
}

.profile__main-info__name {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-4);
}

.profile__main-info__name__title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
}

.profile__main-info__location {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
}

.profile__main-info__content {
    display: flex;
    justify-content: space-between;
    gap: var(--space-4);
    padding: var(--space-4);
}

.profile__main-info__actions {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding: var(--space-4);
    gap: var(--space-4);
}

.profile__main-info__button {
    height: auto;
    background-color: var(--color-primary-500);
    color: var(--color-text-inverse);
    padding: var(--space-2) var(--space-4);
    border-radius: var(--radius-md);
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-sm);
    color: var(--color-text-inverse);
    transition: all 0.2s ease;
}

.profile__main-info__button:hover {
    background-color: var(--color-primary-600);
}